.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8e8e8;
}

p {
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
}

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
